/*Global*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

b {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}

.article {
  position: relative;
}

* {
  box-sizing: border-box;
}

/*
  list-social
*/
.list-social {
  display: flex;
  align-items: center;
}
.list-social li {
  margin-left: 10px;
  
}

/*Header*/

.header {
  background-color: #62346f;
  margin-bottom: 20px;
}

.header a {
  color: white;
}

.lista ul{
  display: flex;
}
.lista li {
  font-size: 14px;
  margin-right: 40px;
}

.lista a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  padding: 10px;

}

.header .logo{
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  margin-right: 80px;

}

.compartir-icon img {
  display: inline-block;
  margin: 10px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.compartir-icon img:hover{
  transform: scale(1.5);
}

.header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items {
  height: 40px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #3a1045;
  
}

/*Main*/

/*
article gral
*/
.article-gral,
.article-gral article {
  position: relative;
  margin-bottom: 20px;
  height: max-content;
}

.article-gral .text{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: white;
  background:rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article-gral .text a {
  color: white;
}

.article-gral .time-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 20px;
  height: 20px;
  color: #fff;
  border: 1px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.galery {
  display: flex;
  justify-content: space-between;
  
}


/*
   article-one
*/
.article-one .text {
  justify-content: space-between;
}

/*
   article-two
*/
.article-two .text {
  padding: 8px;
}

/*
   article-three
*/
.article-three {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/*
   article-four
*/

.article-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 66.1%;
  height: 100%;
  
}

.article-five {
  display: flex;
  flex-direction: column;
  
}



.section1 {
  display: flex;
  justify-content: space-between;
  
}

.section1 .figure3 {
  margin: 0px 0px 20px 20px;
}
.section1 .figure4 {
  margin: 20px;
}

.text1 {
  position: absolute;
  margin: 10px;
  padding: 8px;
  border-radius: 15px;
  font-family: lato;
  font-size: 12px;
  background-color: aqua;
  color: black;
  
}

.text2 {
  position: absolute;
  margin: 10px;
  font-family: lato;
  font-size: 18px;
  color: whitesmoke;
  bottom: 0;
  margin-bottom: 50px;
}

.text3 {
  position: absolute;
  margin: 10px;
  padding: 8px;
  border-radius: 15px;
  font-family: lato;
  font-size: 12px;
  background-color: aqua;
  color: black;
  margin-left: 30px;
}

.text4 {
  position: absolute;
  margin: 10px;
  font-family: lato;
  font-size: 14px;
  color: whitesmoke;
  bottom: 0;
  margin-bottom: 40px;
  margin-left: 30px;
}




/*gallery*/

.galery {
  display: flex;
}
.galery .section2 {
  margin: 0 10px 0 -10px;
}
.galery .section2 .article {
  padding: 0 10px;
  margin-bottom: 20px;
}
.galery .section3 .article{
  margin-bottom: 20px;
}


/*Nav*/

.nav li {
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
}

.nav li a {
  font-family: 'Lato', sans-serif;
  font-size: 32px;

}
.actual {
  color: #7b3fb6;
  font-weight: bold;
}
.actual:hover {
  background-color: #62346f;
  color: #fff;
  border-radius: 15px;
  padding: 8px;
}

.leidas {
  color: #009d78;
  font-weight: bold;
}
.leidas:hover {
  background-color: #009d78;
  color: #fff;
  border-radius: 15px;
  padding: 8px;
}

.section2 {
  display: flex; 
  flex-wrap: wrap;
}

.section3 {
  display: flex;
  flex-wrap: wrap;  
}

.section3 article {
  margin: 0 0 20px;
}

.accesos  {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Lato;
  font-size: 18px;
  color: #959595;
}

.accesos a:hover {
  background-color: #62346f;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}
/*Footer*/

.footer {
  height: 80px;
  background-color: #62346f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h4 {
  color: white;
}

.footer .tex-logo{
  font-family: 'Lato', sans-serif;
  font-size: 28px;

}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Index2 - Main */

.container2 {
  display: flex;
  padding: 10px;
  
}

/* Div Left */
.left {
  margin: 20px;
}

.left p {
  margin-bottom: 10px;
}

/* Div Right */

.right {
  margin: 20px;
}

.right p  {
  margin-top: 10px;
  margin-bottom: 10px;
}

.right div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  color: red;
  
}

.right div p {
  margin-bottom: 10px;
 
}

.noticia1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.clase1 {
  position: relative;
  padding-left: 10px; 

}
.clase1 .item {
  background-color: #3a1045;
  height: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ul li {
  width: 20px;
  height: 20px;
  color: #3a1045;
  border: 1px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.redes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

.ul {
  display: flex;
  justify-content: space-between;

  
}

.right .publicidad {
  width: 304px;
  height: 608px;
}

.right .a {
  color: #959595;
  
}

.right .b {
  background-color: red;
  height: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
  

}

/* Index 3  -  Main*/

.general-index3 {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  padding: 30px;
}

.encabezado3 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.encabezado3 .a {
  color: #959595;
}

.encabezado3 .b {
  background-color: #3a1045;
  height: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 15px;

}

.titulo3 {
  font-family: lato;
  font-size: 32px;
}

.li-index {

  margin-bottom: 20px;
}

.noticia3 p {
  margin-bottom: 20px;
}

.list-end {
  text-align: center;
}
.list-end h4{
  display: inline-block;
  color: #f9a103;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid;
}

.keiko {
  font-size: 18px;
}

.noticia-central {
  position: relative;

}

.noticia-central img {
  width: 633px;
  height: 309px;

}

.noticia-central p {
  position: absolute;
  width: 633px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  
}

.noticia3 {
  margin-top: 40px;
}

/*Right2*/

.left2 {
  margin-right: 10px;
}

.link3 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
  color: red;


}

.link3 .line1 {
  font-family: arial;
  font-size: 11px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.link3 .line2 {
  background-color: #f9a103;
  height: 25px;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;

}
